* {
  margin: 0;
  padding: 0;
}
body {
  margin: auto;
  width: 97%;
  padding-top: 5px;
  /*font-family: 'IBM Plex Sans Condensed', sans-serif;*/
}
p {
  font-family: 'Cabin', sans-serif;
  font-size: 16px;
  color: white;
}
img {
    width: 100%;
    height: auto;
}
div {
    align: center;
}
a:link {
  color: white;
  text-decoration: none;
  width: fit-content;
  width: -moz-fit-content;
}
a:visited {
  color: white;
  text-decoration: none;
}
h1, h2 {
  display: inline-block;
  font-family: 'Roboto Condensed', sans-serif;
  color: white;
}
iframe.bc {
    vertical-align: top;
    padding-right: 5px;
    padding-bottom: 5px;
}
.fa {
  font-size: 1.8rem;
}
#nav {
  text-transform: uppercase;
  width: 100%;
  text-align:  left;
  /*! text-align-last: left; */
}
#nav h1 {
  /* border: 2px solid white; */
  /* text-decoration: underline; */
  padding: 0 5px;
  font-size: 4rem;
  width: 150px;
  background-color: black;
  border-radius: 14px;
  text-align: center;
}
#nav ul {
  list-style: none;
  width: fit-content;
  width: -moz-fit-content;
}
#nav ul li {
  color: white;
  display: block;
  border-radius: 14px;
  padding: 0 5px;
  margin: 2px auto;
  align: center;
  font-weight: bold;
  font-size: 3rem;
  width: 150px;
  font-family: 'Roboto Condensed', sans-serif;
  text-align: center;
}
#nav ul li:hover {
  opacity: 0.7;
  transition: opacity .25s;
}
#socials {
}
.hovopac:hover{
  opacity: 0.7;
  transition: opacity .25s;
}

    width: 66%;
    display: block;
    margin: 0 auto;
  }
}
