html {
  font-size: 1em;
}
summary {
  outline:none;
}
.module {
  border-radius: 1em;
  width: 85%;
  margin: 1em auto;
  padding: 1em;
  /*box-shadow: 10px 10px 8px #888888;*/
}
.header {
  color: white;
  font-family: 'Roboto Condensed', sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 3em;
  padding: .5em;
}
.tcas {
  background-color: black;
  margin: 2em auto;
  width: 95%;
}
.tcas h1 {
  margin: 0;
  display: inline-block;
}
.music {
  background-color: #E84A5F;
}
.tour {
  background-color: #FF847C;
}
.store {
  background-color: #FECEA8;
}
.about {
  background-color: #99B898;
}
a:link {
  color: white;
  text-decoration: none;
}
a:visited {
  color: white;
  text-decoration: none;
}
a:hover {
  opacity: .7;
  transition: opacity .15s
}
.border {
  border: 6px solid white;
  border-radius: 14px;
}
article {
  margin: 1em;
}
h2 {
  color: white;
  font-family: 'Roboto Condensed', sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.5em;
  margin: 0 auto;
}
p {
  font-family: 'Cabin', sans-serif;
  font-size: 1em;
  color: white;
}
#music-summary {
  width: 25%;
  display: inline-block;
  padding: 1em;
  vertical-align: top;
}
#players {
  width: 55%;
  display: inline-block;
  text-align: center;
}
iframe {
  width: 100%;
  height: 250px;
  display: block;
}
#socials {
  display: inline-block;
}
.tcas #socials {
  float: right;
}
.tcas #socials img {
  height: 5em;
}
footer #socials img {
  height: 3em;
}


/*Tour*/
table {
  width: 80%;
  border-collapse: collapse;
  border-spacing: 0 1em;
  color: white;
  text-align: center;
  margin: 1.5em auto;
}
th {
  font-weight: bold;
  font-family: 'Roboto Condensed', sans-serif;
  text-transform: uppercase;
  font-size: 3em;
}
tr {
  line-height: 4em;
}
td {
  font-family: 'Cabin', sans-serif;
  font-size: 1.5em;
  border-top: 2px solid white;
}
td a {
  border: 2px solid white;
  border-radius: 6px;
  text-transform: uppercase;
  padding: 5px;
}
td a:hover {
  border: 2px solid;
  border-radius: 6px;
  text-transform: uppercase;
  padding: 5px;
  background-color: white;
  color: #FF847C;
  opacity: 1;
}
footer {
  text-align: center;
  margin: 2em auto;
  padding: 0;
  border-top: .25em solid black;
  width: 25%;
}
footer p {
  color: black;
  font-family: 'Roboto', sans-serif;
  font-size: 1em;
  text-transform: uppercase;
}
/*MEDIA QUERIES, BABY!*/
@media screen and (max-width: 1000px) {
  html {
    font-size: .95em;
  }
}
@media screen and (max-width: 900px) {
  html {
    font-size: .80em;
  }
}
@media screen and (max-width: 775px) {
  html {
    font-size: .65em;
  }
}
@media screen and (max-width: 630px) {
  html {
    font-size: .5em;
  }
}
@media screen and (max-width: 500px) {
  html {
    font-size: .35em;
  }
}
@media screen and (max-width: 350px) {
  html {
    font-size: .25em;
  }
}

/*Hackeroos*/
/* Hides detail marker on FF */
details > summary {
  list-style: none;
}
/* Hides detail marker on Chrome */
::-webkit-details-marker {
  display: none
}
