body {
}
details {
  width: 4px;
}
summary {
  outline:none;
}
.module {
  border-radius: 14px;
  margin: 1rem auto;
  padding: 1rem;
  box-shadow: 10px 10px 8px #888888;
}
.header {
  color: white;
  font-family: 'Roboto Condensed', sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1rem;
  padding: 1rem;
}
.tcas {
  background-color: black;
  margin: 2rem auto;
}
.tcas h1 {
  margin: 0;
  width: 50%;
  display: inline-block;
}
.music {
  background-color: #E84A5F;
}
.tour {
  background-color: #FF847C;
}
.store {
  background-color: #FECEA8;
}
.contact {
  background-color: #99B898;
}
a:link {
  color: white;
  text-decoration: none;
}
a:visited {
  color: white;
  text-decoration: none;
}
.border {
  border: 6px solid white;
  border-radius: 14px;
}
article {
  margin: 1rem;
}
h2 {
  color: white;
  font-family: 'Roboto Condensed', sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.5rem;
  margin: 0 auto;
}
p {
  font-family: 'Cabin', sans-serif;
  font-size: 1rem;
  color: white;
}
#music-summary {
  width:30%;
  display: inline-block;
  padding: 1rem;
}
#socials {
  display: block;
  margin-top: 0.15rem;
}
#socials img {
  height: 3rem;
}


/*Tour*/
table {
  width: 80%;
  border-collapse: collapse;
  border-spacing: 0 1em;
  color: white;
  text-align: center;
  margin: 0 auto;
}
th {
  font-weight: bold;
  font-family: 'Roboto Condensed', sans-serif;
  text-transform: uppercase;
  font-size: 3rem;
}
tr {
  line-height: 4rem;
}
td {
  font-family: 'Cabin', sans-serif;
  font-size: 1.5rem;
  border-top: 2px solid white;
}
td a {
  border: 2px solid white;
  border-radius: 6px;
  text-transform: uppercase;
  padding: 5px;
}
td a:hover {
  border: 2px solid;
  border-radius: 6px;
  text-transform: uppercase;
  padding: 5px;
  background-color: white;
  color: #FF847C
}

/*Hackeroos*/
/* Hides detail marker on FF */
details > summary {
  list-style: none;
}
/* Hides detail marker on Chrome */
::-webkit-details-marker {
  display: none
}
